<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<title>main</title>
</head>
<body>
<div class="all">
<div class="main">
	<div class="home">
		<h1>My Blog</h1>
	</div>
	<div class="middle">
		<div class="left"></div>
		<div class="right">
			{% for x in articlelist %}
			<div class="article">
				<div class="title">
					{{x.title}}
				</div>
				<div class="date">
					{{x.date}}
				</div>
				<div class="contents">
					{{x.contents}}
				</div>
			</div>
			{% endfor%}
		</div>
	</div>
</div>
</div>
</body>
</html>